<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <link rel="stylesheet" href="./community.css" />
    </head>

    <body>
        <header><%- include('./header'); %></header>

        <div class="container">
            <div class="left">
                <h2>절약 위키</h2>
                <button id="edit">위키 수정</button>
                <br />
                <form id="wiki-form" style="display: none">
                    <fieldset>
                        <legend>위키 입력</legend>
                        <div><textarea id="wiki" type="text" placeholder="위키 마크다운으로 입력"></textarea></div>
                        <button type="submit">등록</button>
                    </fieldset>
                </form>
                <br />
                <table id="wiki-list">
                    <thead>
                        <tr>
                            <th>날짜</th>
                            <th>내용</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <br />
            </div>
            <div class="right">
                <p>오른쪽 화면</p>
            </div>
        </div>

        <footer>
            <header><%- include('./footer'); %></header>
        </footer>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- 마크업을 사용 하기위한 모듈 추가 -->
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="/wiki.js"></script>
    </body>
</html>
