<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>header</title>
        <link rel="stylesheet" href="/header.css" />
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="/" class="logo">EcoSave</a>
                <ul class="nav_ul">
                    <% if (user) { %>
                    <li class="nav_li"><a href="/" class="nav_link">홈</a></li>
                    <li class="nav_li"><a href="/nationwide" class="nav_link">전국 챌린지</a></li>
                    <li class="nav_li"><a href="/community" class="nav_link">커뮤니티</a></li>
                    <li class="nav_li"><a href="/users/mypage" class="nav_link">마이페이지</a></li>
                    <% } else { %>
                    <li class="nav_li"><a href="/" class="nav_link">홈</a></li>
                    <li class="nav_li"><a href="/nationwide" class="nav_link">전국 챌린지</a></li>
                    <li class="nav_li"><a href="/community" class="nav_link">커뮤니티</a></li>
                    <li class="nav_li"><a href="/users/login" class="nav_link">로그인</a></li>
                    <% } %>
                </ul>
            </nav>
        </header>
    </body>
</html>
