<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <link rel="stylesheet" href="./page.css" />
    </head>

    <body>
        <header><%- include('./header'); %></header>

        <div>
            <p>홈</p>
        </div>

        <footer>
            <header><%- include('./footer'); %></header>
        </footer>
    </body>
</html>
