<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/login.css" />
    </head>
    <body>
        <div class="wrapper">
            <div class="input-form">
                <img class="logo" src="/images/logo.png" />
                <form id="form" action="/admit" method="post">
                    <input type="text" name="email" placeholder="이메일 입력" /><br />
                    <input type="password" name="password" placeholder="비밀번호 입력" />
                    <p>
                        <button class="btn" type="submit">로그인</button>
                    </p>
                </form>
                <a href="/signup"><u>회원가입</u></a>
            </div>
        </div>
    </body>
</html>
