<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/residenceInfo.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script
            src="http://maps.google.com/maps/api/js?key=<%= process.env.GOOGLE_MAP_KEY %>&callback=getLocation"
            async
            defer
        ></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="logo-container">
                <img src="/images/logo.png" class="logo" />
            </div>

            <div class="header">
                <ul>
                    <li class="active form_1_progessbar">
                        <div>
                            <p>1</p>
                            <span>위치 등록</span>
                        </div>
                    </li>
                    <li class="form_2_progessbar">
                        <div>
                            <p>2</p>
                            <span>정보 입력</span>
                        </div>
                    </li>
                    <li class="form_3_progessbar">
                        <div>
                            <p>3</p>
                            <span>약관 동의</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form_wrap">
                <form id="form">
                    <div class="form_1 data_info">
                        <h2 id="map-title">1. 동네 절약 챌린지를 위해 위치를 등록해주세요</h2>
                        <h5 id="map-subtitle">주소가 OO시 OO구(동) 형태인지 꼭 확인하고 넘겨주세요!</h5>
                        <div class="search-container">
                            <div class="pseudo-search">
                                <input id="addressInput" type="text" placeholder="Search..." autofocus required />

                                <button id="searchButton" class="fa fa-search" type="submit"></button>
                            </div>
                        </div>
                        <div id="map"></div>
                    </div>
                    <div class="form_2 data_info" style="display: none">
                        <h2>2. AI 컨설턴트가 절약 플랜을 설계하도록 정보를 입력해주세요</h2>

                        <div class="form_container">
                            <div class="input_wrap">
                                <input type="text" placeholder="닉네임" class="input" id="nickname" />
                            </div>
                            <div class="input_wrap">
                                <input
                                    type="text"
                                    placeholder="집구조 e.g.복층, 원룸"
                                    class="input"
                                    id="homestructure"
                                />
                            </div>
                            <div class="input_wrap">
                                <input type="number" placeholder="가구원 수" class="input" id="num_member" />
                            </div>
                            <div class="input_wrap">
                                <input
                                    type="number"
                                    placeholder="주요 사용 전자기기 수"
                                    class="input"
                                    id="elect_application"
                                />
                            </div>
                            <div class="input_wrap">
                                <select name="age" id="age">
                                    <option value="20">20대</option>
                                    <option value="30">30대</option>
                                    <option value="40">40대</option>
                                    <option value="50">50대</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form_3 data_info" style="display: none">
                        <h2>3. 개인정보 이용 동의 약관에 동의해주세요.</h2>
                        <div class="agree-container">
                            <p class="agree">
                                전기료 절약 서비스 이용 약관 서비스 개요<br />
                                1.1 본 서비스는 전기료 절약에 도움을 주기 위한 정보를 제공하는 웹사이트입니다. 1.2
                                이용자는 본 서비스를 통해 전기요금을 절약하기 위한<br />
                                다양한 정보와 가이드라인을 얻을 수 있습니다. 1.3 본 서비스를 이용함으로써 이용자는
                                서비스 이용 약관 및 개인정보 처리 방침에 동의한 것으로<br />
                                간주됩니다. 개인정보 수집 및 이용<br />
                                2.1 본 서비스는 이용자의 개인정보를 수집하며, 이는 서비스 제공 및 향상, 이용자의 식별,
                                고객 서비스 제공 등을 목적으로 합니다. 2.2 수집되는<br />
                                개인정보는 다음과 같습니다: - 전기요금 정보 - 집주소 - 가구 구성원 수 - 이메일 주소 -
                                사용하는 주요 전자기기 정보 개인정보 보호<br />
                                3.1 본 서비스는 이용자의 개인정보를 보호하기 위해 최선의 노력을 다하며, 개인정보 처리
                                방침에 따라 합법적인 수단으로 이를 처리합니다. 3.2<br />
                                이용자의 개인정보는 본인의 동의 없이 제3자에게 제공되지 않습니다. 책임 제한<br />
                                4.1 본 서비스는 전기요금 절약을 위한 정보를 제공할 뿐, 실제 전기요금 절약 효과를
                                보장하지 않습니다. 4.2 이용자는 본 서비스를 이용함으로써<br />
                                발생하는 모든 결과에 대한 책임을 부담합니다. 약관의 변경<br />
                                5.1 본 서비스는 필요한 경우 본 약관을 수정할 수 있습니다. 5.2 약관이 변경되는 경우,
                                변경된 내용을 이용자에게 통지합니다. 5.3 변경된 약관은<br />
                                공지 후 일정 기간이 경과한 후에 시행됩니다. 서비스 종료<br />
                                6.1 본 서비스는 특정한 사유로 종료될 수 있으며, 이 경우 이용자에게 사전 통지됩니다. 6.2
                                서비스 종료 후에는 이용자의 개인정보는 안전하게 처리됩니다.<br />
                                분쟁 해결<br />
                                7.1 본 약관에 관한 분쟁은 대한민국 법률에 따라 해결됩니다. 7.2 분쟁이 발생할 경우
                                이용자와 본 서비스 운영자는 성실히 협의하여 해결하기로 합니다.<br />
                                본 약관은 2024/05/24에 마지막으로 수정되었습니다.
                            </p>
                        </div>

                        <label for="agree" class="chk_box">
                            <input type="checkbox" id="agree" />
                            <span class="on"></span>
                            이용약관에 동의합니다.
                        </label>
                    </div>
                </form>
            </div>
            <div class="btns_wrap">
                <div class="common_btns form_1_btns">
                    <button type="button" class="btn_next">
                        다음 <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span>
                    </button>
                </div>
                <div class="common_btns form_2_btns" style="display: none">
                    <button type="button" class="btn_back">
                        <span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>이전
                    </button>
                    <button type="button" class="btn_next">
                        다음 <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span>
                    </button>
                </div>
                <div class="common_btns form_3_btns" style="display: none">
                    <button type="button" class="btn_back">
                        <span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>이전
                    </button>
                    <button type="button" id="btn_done">회원가입 완료</button>
                </div>
            </div>
        </div>

        <!-- <div class="modal_wrapper">
            <div class="shadow"></div>
            <div class="success_wrap">
                <span class="modal_icon"><ion-icon name="checkmark-sharp"></ion-icon></span>
                <p>You have successfully completed the process.</p>
            </div>
        </div> -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/residenceInfo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </body>
</html>
