<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="signup.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script
            src="http://maps.google.com/maps/api/js?key=<%= process.env.GOOGLE_MAP_KEY %>&callback=getLocation"
            async
            defer
        ></script>
    </head>
    <body>
        <div class="wrapper">
            <img src="..public\images\logo.png" />
            <div class="header">
                <ul>
                    <li class="active form_1_progessbar">
                        <div>
                            <p>1</p>
                        </div>
                    </li>
                    <li class="form_2_progessbar">
                        <div>
                            <p>2</p>
                        </div>
                    </li>
                    <li class="form_3_progessbar">
                        <div>
                            <p>3</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form_wrap">
                <div class="form_1 data_info">
                    <h2>1. 동네 절약 챌린지를 위해 위치를 등록해주세요</h2>
                    <div id="map"></div>
                </div>
                <div class="form_2 data_info" style="display: none">
                    <h2>2. AI 컨설턴트가 절약 플랜을 설계하도록 정보를 입력해주세요</h2>
                    <form>
                        <div class="form_container">
                            <div class="input_wrap">
                                <input
                                    type="text"
                                    placeholder="집구조 e.g.복층, 원룸"
                                    name="User Name"
                                    class="input"
                                    id="user_name"
                                />
                            </div>
                            <div class="input_wrap">
                                <input
                                    type="number"
                                    placeholder="가구원 수"
                                    name="First Name"
                                    class="input"
                                    id="first_name"
                                />
                            </div>
                            <div class="input_wrap">
                                <input
                                    type="number"
                                    placeholder="주요 전자 사용 기기"
                                    name="Last Name"
                                    class="input"
                                    id="last_name"
                                />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form_3 data_info" style="display: none">
                    <h2>Professional Info</h2>
                    <form>
                        <div class="form_container">
                            <div class="input_wrap">
                                <label for="company">Current Company</label>
                                <input type="text" name="Current Company" class="input" id="company" />
                            </div>
                            <div class="input_wrap">
                                <label for="experience">Total Experience</label>
                                <input type="text" name="Total Experience" class="input" id="experience" />
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Designation</label>
                                <input type="text" name="Designation" class="input" id="designation" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="btns_wrap">
                <div class="common_btns form_1_btns">
                    <button type="button" class="btn_next">
                        Next <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span>
                    </button>
                </div>
                <div class="common_btns form_2_btns" style="display: none">
                    <button type="button" class="btn_back">
                        <span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Back
                    </button>
                    <button type="button" class="btn_next">
                        Next <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span>
                    </button>
                </div>
                <div class="common_btns form_3_btns" style="display: none">
                    <button type="button" class="btn_back">
                        <span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Back
                    </button>
                    <button type="button" class="btn_done">Done</button>
                </div>
            </div>
        </div>

        <div class="modal_wrapper">
            <div class="shadow"></div>
            <div class="success_wrap">
                <span class="modal_icon"><ion-icon name="checkmark-sharp"></ion-icon></span>
                <p>You have successfully completed the process.</p>
            </div>
        </div>
        <script src="signup.js"></script>
    </body>
</html>
