:root {
    --primary: #19a337;
    --secondary: #bfc0c0;
    --white: #fff;
    --text-clr: #5b6475;
    --header-clr: #25273d;
    --next-btn-hover: #9bf09d;
    --back-btn-hover: #8b8c8c;
}

.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100dvh;
}

.logo {
    width: 25%;
    height: 25%;
    margin-bottom: 3%;
}

.wrapper input,
.wrapper button {
    width: 350px; /* 입력란과 버튼의 너비를 동일하게 설정 */
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    outline: none;
    box-sizing: border-box; /* 입력란과 버튼의 크기에 테두리(border)를 포함하도록 설정 */
}

.wrapper img {
    width: 350px; /* 입력란과 버튼의 너비를 동일하게 설정 */
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    outline: none;
    box-sizing: border-box; /* 입력란과 버튼의 크기에 테두리(border)를 포함하도록 설정 */
}

.wrapper input {
    border: 2px solid var(--secondary);
    border-radius: 3px;
    padding: 10px;
    display: block;
    margin: 0 auto -10px;
    font-size: 16px;
    transition: 0.5s ease;
    outline: none;
}

.wrapper input:focus {
    border-color: var(--primary);
}

.wrapper button {
    border: 0;
    padding: 12px 15px;
    background: var(--primary);
    color: var(--white);
    font-size: 16px;
    border-radius: 3px;
    transition: 0.5s ease;
    margin-top: 10px;
    cursor: pointer;
    text-align: center; /* 버튼 텍스트를 가운데 정렬 */
}

.wrapper button:hover {
    background: var(--next-btn-hover);
}

a {
    color: var(--secondary);
}
